trainee_dashboard/views/subject/__pycache__/__init__.cpython-37.pyc
trainee_dashboard/views/__pycache__/__init__.cpython-37.pyc
trainee_dashboard/__pycache__/apps.cpython-37.pyc
trainee_dashboard/__pycache__/models.cpython-37.pyc
trainee_dashboard/__pycache__/settings.cpython-37.pyc
trainee_dashboard/__pycache__/urls.cpython-37.pyc
trainee_dashboard/tests/__pycache__/
.project
trainee_dashboard/views/subject/dashboard/__pycache__/
.idea/workspace.xml
